services:
  localstack-cobalt:
    image: localstack/localstack:3.4.0
    ports:
      - "4801:4801"            # LocalStack Gateway
      - "4710-4759:4710-4759"  # external services port range
    environment:
      - GATEWAY_LISTEN=0.0.0.0:4801
      - EXTERNAL_SERVICE_PORTS_START=4710
      - EXTERNAL_SERVICE_PORTS_END=4759
      - MAIN_CONTAINER_NAME=localstack-main-1
      - PERSISTENCE=1 # Don't "forget" secretsmanager/S3/etc. values when localstack is shut down
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  postgres-cobalt:
    image: postgis/postgis:17-3.5
    platform: linux/amd64
    ports:
      - "5501:5432"
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - pg-cobalt:/var/lib/postgresql/data
    command: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all -c max_connections=200

  # Access Mailpit web UI at http://localhost:8026
  mailpit-cobalt:
    image: axllent/mailpit:v1.27
    container_name: mailpit-cobalt
    ports:
      - "8026:8025"
      - "1026:1025"

volumes:
  pg-cobalt: