# Intellij files
*.idea
*.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target
server.pid

# Elastic Beanstalk Files
.elasticbeanstalk/**/*
.elasticbeanstalk/*.yml
.factorypath
.classpath
.project
.settings

# Mirror repo does not include test data
resources/test/

# Node
node_modules
.DS_Store
.vscode/
src/test/resources/account-activities.json
src/test/resources/accounts.json
/pic/reports/*.csv
sql/initial/bootstrap.sql
