{{#partial "header"}}
	<tr>
		<td align="center" class="em_white" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:36px; line-height:40px; color:#ffffff; font-weight:bold;">Group Session requested</td>
	</tr>
{{/partial}}

{{#partial "body"}}
	<tr>
		<td align="left" class="em_blue" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:18px; line-height:24px; color:#000;">
			<p>
				<b>Requestor Email Address:</b> {{emailAddress}}
			</p>
			<p>
				<b>Title:</b> {{title}}
			</p>
			<p>
				<b>Description:</b> {{description}}
			</p>
		</td>
	</tr>
{{/partial}}

{{> layouts/en/default}}