{{#partial "header"}}
	TODO: IC_WELCOME email header
{{/partial}}

{{#partial "body"}}
	Your {{integratedCarePrimaryCareName}} provider would like to connect you to further care. Please visit <a href="{{{webappBaseUrl}}}">{{webappBaseUrl}}</a> to get connected.
	<br/>
	Questions? Please call us at {{integratedCarePhoneNumberDescription}}.
{{/partial}}

{{> layouts/en/ic}}