$n0: #FFFFFF;
$n50: #FAF7F5;
$n75: #F5F0EC;
$n100: #DBD7D3;
$n300: #C2BEBB;
$n500: #73716F;
$n700: #42413F;
$n900: #292827;
$p50: #ECF2F8;
$p100: #C3D0EB;
$p300: #7A97CE;
$p500: #30578E;
$p700: #20406C;
$p900: #102747;
$a50: #FAEFE6;
$a100: #F4DDC9;
$a300: #F2AD74;
$a500: #EE934E;
$a700: #A35921;
$a900: #7A3500;
$d50: #F8ECEA;
$d100: #F0D2CC;
$d300: #E56F65;
$d500: #B82214;
$d700: #85180E;
$d900: #67120A;
$w50: #FFF5E0;
$w100: #F5E5C9;
$w300: #F2C87E;
$w500: #F0B756;
$w700: #AD7300;
$w900: #7F5200;
$s50: #E5F1F1;
$s100: #C1DBDB;
$s300: #81B2B1;
$s500: #377276;
$s700: #285457;
$s900: #1D3B3D;
