$n000: #ffffff;
$n050: #faf7f5;
$n075: #f5f0ec;
$n100: #dbd7d3;
$n300: #c2bebb;
$n500: #73716f;
$n700: #42413f;
$n900: #292827;

$p050: #ecf2f8;
$p100: #c3d0eb;
$p300: #7a97ce;
$p500: #30578e;
$p700: #20406c;
$p900: #102747;

$a050: #faefe6;
$a100: #f4ddc9;
$a300: #f2ad74;
$a500: #ee934e;
$a700: #a35921;
$a900: #7a3500;

$r050: #f8ecea;
$r100: #f0d2cc;
$r300: #e56f65;
$r500: #b82214;
$r700: #85180e;
$r900: #67120a;

$y050: #fff5e0;
$y100: #f5e5c9;
$y300: #f2c87e;
$y500: #f0b756;
$y700: #ad7300;
$y900: #7f5200;

$g050: #e5f1f1;
$g100: #c1dbdb;
$g300: #81b2b1;
$g500: #377276;
$g700: #285457;
$g900: #1d3b3d;

$b050: #ecf2f8;
$b100: #c3d0eb;
$b300: #7a97ce;
$b500: #30578e;
$b700: #20406c;
$b900: #102747;

$o050: #faefe6;
$o100: #f4ddc9;
$o300: #f2ad74;
$o500: #ee934e;
$o700: #a35921;
$o900: #7a3500;
