<table>
	<tbody>
		<tr>
			<td width="48" style="width: 48px">
				<img
					src="{{root}}assets/img/icon-calendar.png"
					width="48"
					height="48"
					style="width: 48px; height: 48px"
					alt="Calendar Icon"
				/>
			</td>
			<td width="16" style="width: 16px"></td>
			<td style="vertical-align: middle">
				<p><strong>{{calendarLinksActionText}}</strong></p>
				<spacer size="4"></spacer>
				<h6><a href="{{{icalUrl}}}">iCal/Outlook Calendar</a> | <a href="{{{googleCalendarUrl}}}">Google Calendar</a></h6>
			</td>
		</tr>
	</tbody>
</table>
