<hr />

<spacer size="32"></spacer>

<h6><strong>A few tips for a smooth session:</strong></h6>

<spacer size="16"></spacer>

<ul>
	<li>
		<h6>Find a quiet space with a comfortable chair</h6>
	</li>
	<li>
		<h6>Sit facing a window or have a light nearby</h6>
	</li>
	<li>
		<h6>Take 5 minutes to write down your thoughts or any goals for your time together</h6>
	</li>
	<li>
		<h6>Close all other browser windows, turn your phone off, and make the video full-screen</h6>
	</li>
	<li>
		<h6>Allow for a few minutes of troubleshooting and settling in</h6>
	</li>
</ul>
