{{#partial "header"}}
	<tr>
		<td align="center" class="em_white" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:36px; line-height:40px; color:#ffffff; font-weight:bold;">{{title}}</td>
	</tr>
{{/partial}}

{{#partial "body"}}
	<tr>
			<td height="20" bgcolor="#ffffff" width="50%" colspan="2"></td>
	</tr>
	<tr>
  		<td align="left" class="em_blue" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:18px; line-height:24px; color:#000;">
  			<p>
  				{{salutation}}
  			</p>
  		</td>
  </tr>
	<tr>
		<td height="20" style="height:20px; line-height:0px; font-size:0px;" class="em_h20">&nbsp;</td>
	</tr>
	<tr>
  		<td align="left" class="em_blue" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:18px; line-height:24px; color:#000;">
  			<p>
  				Your {{codeTypeDescription}} is:
  			</p>
  		</td>
  </tr>
	<tr>
		<td height="20" style="height:20px; line-height:0px; font-size:0px;" class="em_h20">&nbsp;</td>
	</tr>
	<tr>
  		<td align="left" class="em_blue" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:28px; line-height:22px; color:#000; font-weight: bold;">
  			<p>
  				{{code}}
  			</p>
  		</td>
  	</tr>
	<tr>
		<td height="20" bgcolor="#ffffff" width="50%" colspan="2"></td>
	</tr>

{{/partial}}

{{> layouts/en/default}}