<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{root}}css/app.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{subject}}</title>
		<!-- <style> -->
	</head>
	<body>
		<table class="body">
			<tr>
				<td class="center" align="center" valign="top">
					<container>
						<row class="logo-outer">
							<columns>
								<spacer size="25"></spacer>
								<center>
									<img
										src="{{root}}assets/img/cobalt-logo.png"
										width="105.78"
										height="14"
										style="width: 105.78px; height: 14px"
										alt="Cobalt"
									/>
								</center>
								<spacer size="25"></spacer>
							</columns>
						</row>

						{{> body }}

						<row class="footer-outer">
							<columns>
								<spacer size="40"></spacer>
								<p class="small">
									This message is intended only for the individual, individuals or entity to which it
									is addressed and may contain information that is privileged, confidential, and
									exempt from disclosure under applicable law. If the reader of this message is not
									the intended recipient, please be aware that any dissemination, distribution, or
									copying of this transmittal/communication is strictly prohibited. If you have
									received this transmittal/communication in error, please notify us immediately by
									return email. Thank you.
								</p>
								<spacer size="40"></spacer>
							</columns>
						</row>
					</container>
				</td>
			</tr>
		</table>

		<!-- prevent Gmail on iOS font size manipulation -->
		<div style="display: none; white-space: nowrap; font: 15px courier; line-height: 0">
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		</div>
	</body>
</html>
